* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: var(--main-font);
}

p {
    color: gray;
}

p,
button,
a {
    font-family: var(--text-font);
}

html {
    scroll-behavior: smooth;
}

:root {
    --Navy: #000957;
    --blue: #344CB7;
    --lightblue: #577BC1;
    --yellow: #FFEB00;
    --main-font: "Poppins", sans-serif;
    --text-font: "Roboto", sans-serif;


}

header {
    width: 100%;
}

#top-header {
    width: 100%;
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}




#top-header i {
    color: white;
    /* padding: 0px 25px; */
    text-decoration: none;
}

#top-header a {
    text-decoration: none;
    color: gainsboro;
}

.contact-details i {
    margin: 0px 5px;

}



#navbar {
    width: 100%;
    height: 90px;
    background: white;
    box-shadow: 2px 4px 8px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-family: var(--main-font);
    font-weight: 500;
}

#navbar img {
    width: 13%;
}

#navbar button {
    cursor: pointer;
}


#menu a {
    padding: 0px 20px;
    text-decoration: none;

    color: black;
}

#menu a:hover {
    color: var(--blue);
}

.CTA {
    padding: 20px 25px;
    border: none;
    color: white;
    background: var(--blue);
    border-radius: 12px;
}


section h2 {
    font-size: 40px;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 90px 8%; */
    background: #f6f7fb;
    gap: 40px;
}



.hero-content {
    max-width: 50%;
    padding: 40px;

}

.hero-content h1 {
    font-size: 60px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.1;
    font-family: var(--main-font);
}

.hero-content p {
    font-size: 17px;
    color: gray;
    margin-bottom: 30px;
    line-height: 1.6;

}

.hero-btn {
    background: navy;
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}


.hero-image {
    position: relative;
    width: 50%;
    height: 520px;
    background: url("Images/hero2.jpg") center/cover no-repeat;
    border-radius: 6px;
}


.hero-card {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: var(--Navy);
    color: white;
    padding: 50px 25px;
    width: 100%;
    border-radius: 4px;
    font-family: var(--text-font);

}


.hero-card h4 {
    font-size: 38px;
    margin-bottom: 5px;
}

.hero-card p {
    font-size: 15px;
    color: white;
}



#services {
    width: 100%;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    margin-top: 80px;


}


.services-cards {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.service-card {
    width: 300px;
    height: 70%;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
}



.service-card h3 {
    font-size: 22px;
    transform: translateY(80px);
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-card h3 i {
    font-size: 40px;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.5s ease;
    /* smooth zoom */
}


.service-card-1 {
    background: url("Images/service\ 1.jpg") center/cover no-repeat;
}

.service-card-2 {
    background: url("Images/serivce2.jpg") center/cover no-repeat;
}

.service-card-3 {
    background: url("Images/service3.jpg") center/cover no-repeat;
}

.service-card-4 {
    background: url("Images/service4.jpg") center/cover no-repeat;
}

.service-card:hover::before {
    transform: scale(1.1);
    /* zoom in the image */
}

.service-card::after {
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #000000ca;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    border-radius: 20px;
}

.service-card:hover::after {
    height: 100%;

}

.service-card:hover h3 {
    transform: translateY(0px);
    opacity: 1;
}


#about {
    width: 100%;
    height: 700px;
    background: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.about-content {
    padding: 20px 50px;
    width: 50%;

}

.about-content h4 {
    font-size: 13px;
    color: var(--Navy);
    font-size: 15px;

}

.about-content h2 {
    font-size: 50px;
    line-height: 1.1;

}

.about-content p {
    margin-top: 50px;
    line-height: 1.9;
}

.about-content ul {
    margin-top: 50px;
    font-family: var(--text-font);


}

.about-content ul li {
    padding: 3px 0px;
    list-style: none;
    margin-top: 10px;
}

ul li i {
    margin-right: 10px;
    color: var(--blue);
    font-size: 22px;
}


.about-img {
    width: 50%;
    height: 100%;
    padding: 50px;
    position: relative;
}


.small-img {
    width: 250px;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 20%;
    border: 15px solid #f6f7fb;
}


#brand {

    width: 90%;
    height: 380px;
    background: linear-gradient(45deg, #000957d0 60%, rgba(0, 0, 0, 0) 60%), url("https://images.pexels.com/photos/14614016/pexels-photo-14614016.jpeg") center/cover no-repeat;
    display: flex;
    /* align-items: center; */
    justify-content: center;

    flex-direction: column;
    padding: 30px 90px;
    gap: 50px;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
    box-shadow: 2px 6px 8px rgb(67, 67, 67);

}


#brand h2 {
    font-size: 50px;
    color: white;
    line-height: 1.2;
}

#brand button {
    width: 20%;
    padding: 10px;
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 600;
    border-radius: 20px;
    border: none;
}



#Portfolio {
    width: 100%;
    height: 100%;
    background: linear-gradient(#bec4ff, #f6f7fb);
    padding: 0px 90px;
    padding-top: 120px;
    color: black;
}


.portfolio-images {
    display: flex;
    gap: 20px;
    margin-top: 50px;

}

.portfolio-images .img {
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.portfolio-images .img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s;
}


.img1 {

    background: url("Images/portfolio1.jpg") center/cover no-repeat;
}

.img2 {

    background: url("Images/portfolio2.jpg") center/cover no-repeat;
}

.img3 {

    background: url("Images/portfolio3.jfif") center/cover no-repeat;
}

.img4 {
    background: url("Images/sr_solarinstaller.jpg") center/cover no-repeat;
}

.img5 {
    background: url("Images/portfolio5.jpg") center/cover no-repeat;
}

.img6 {
    background: url("Images/portfolio6.jpg") center/cover no-repeat;
}



.img7 {
    background: url("Images/portfolio7.jpeg") center/cover no-repeat;
}



.img8 {
    background: url("Images/portfolio8.jpg") center/cover no-repeat;
}





.portfolio-images .img:hover::before {
    transform: scale(1.3);

}

.portfolio-images .img::after {
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(#00095700, #000957);
    transition: 0.2s;

}

.portfolio-images .img:hover::after {
    height: 100%;
}

.portfolio-slider {
    position: relative;
    overflow: hidden;
}

.portfolio-images {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    transition: 0.5s;
    width: max-content;
    /* important */

}

.portfolio-images .img {
    min-width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

/* arrows */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: navy;
    color: white;
    border: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}



/* Pricing Section */


#Pricing {
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px;
    margin-top: 80px;
}


.pricing-cards {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.price-card {
    width: 350px;
    height: 500px;
    background: #f3f6ff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 18px;
    box-shadow: 2px 2px 9px gray;
    transition: 0.3s;
}

.price-card h3 {
    font-size: 25px;
}

.price-card h4 {
    font-size: 55px;

}

.price-card h4 span {
    font-size: 18px;
    color: rgb(61, 61, 61);
    font-weight: 500;
}


.price-card ul li {
    text-align: center;
    list-style-type: none;
    margin: 18px 0px;
    font-family: var(--text-font);

}

.price-card button {
    background-color: #000957;
    border: none;
    padding: 15px 20px;
    width: 200px;
    color: white;
    border-radius: 13px;
}


.price-card:hover {
    transform: translateY(-20px);
}


#why-choose-us {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;

}

.why-choose-us-content {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 80px;
}

.accordion {
    max-width: 650px;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

.accordion-item {
    border-radius: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}


.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

.accordion-title:hover {
    background: #f7f7f7;
}

.accordion-title span {
    font-size: 18px;
    transition: transform 0.4s ease;
}

.accordion input {
    display: none;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    line-height: 1.6;
    color: #555;
    transition:
        max-height 0.5s ease,
        padding 0.3s ease;
}

.accordion input:checked~.accordion-content {
    max-height: 300px;
    padding: 0 20px 18px;
}

.accordion input:checked+.accordion-title span {
    transform: rotate(45deg);
}

.accordion input:checked+.accordion-title {
    background: #f3f6ff;
    color: #000957;
}



.contact-form {
    width: 40%;
    height: 100%;
    padding: 50px;
    /* background:url("Images/why-choose-us.jpg")  center  center  / cover no-repeat ; */
    background: url("Images/why-choose-us.jpg") center center / cover no-repeat;
    position: relative;

}

form {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000957, #000957cd);
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 2px 9px gray;
    border-radius: 12px;
    position: absolute;
    left: -50px;
}

form input {
    width: 100%;
    height: 40px;
    padding: 10px;
    /* border-radius: 10px; */
    border: none;
    display: inline-block;
    border-bottom: 1px solid rgb(214, 214, 214);
    background-color: transparent;
    color: white;
}

form input::placeholder,
textarea::placeholder {
    color: white;
}

form fieldset {
    display: flex;
    gap: 20px;
    border: none;
    width: 100%;
}

form textarea {
    width: 100%;
    height: 40%;
    padding: 10px;
    font-family: var(--text-font);
    /* border: none; */
    border: 1px solid rgb(214, 214, 214);
    background-color: transparent;
    border-radius: 10px;
    color: white;
}

form textarea:focus,
input:focus {
    outline: none;
}

form button {
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background: white;
    color: #000957;
}



.testimonial-section {
    width: 100%;
    height: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    background: linear-gradient(45deg, #000320, #000956, #000320);
    padding: 50px;

    clip-path: polygon(0 0,
            0 90%,
            25% 80%,
            75% 100%,
            100% 90%,
            100% 0);
}

.testimonial-section h2 {
    color: white;
}

.testimonial-slider {
    overflow: hidden;
    position: relative;
    width: 60%;



}

.testimonial {
    display: none;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    background-color: transparent;
    padding: 60px 20px;
    /* border: 2px solid #bec4ff; */
}


.testimonial.active {
    display: block;
}

.testimonial p {
    font-size: 23px;
    color: White;
    margin-bottom: 10px;
    font-style: italic;
}

.testimonial h4 {
    color: #a0b0ff;
    font-weight: 600;
    font-size: 18px;
}

.testimonial-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.testimonial-controls span {
    cursor: pointer;
    font-size: 24px;
    color: #a0b0ff;
    user-select: none;
    padding: 0 15px;
    transition: color 0.3s;
}

.testimonial-controls span:hover {
    color: #a0b0ff;

}





.footer {
    background: white;
    color: #000957;
    padding: 60px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-about {
    max-width: 500px;
}

.footer-about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #000957;
    font-weight: 600;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border: 1px solid #000957;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000957;
    transition: 0.3s;

}

.social-icons a:hover {
    background: #000957;
    color: #f3f6ff;
}

.footer-links {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #000957;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 500;
    font-family: var(--text-font);

}

.footer-links a:hover {
    color: #1a2bcc;
}